*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-0 {
    position: relative;
    transition: .3s all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container-1 {
    position: relative;
    background-color: pink;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s all;
    width: 100vw;
    height: 100vh;
}
.container-2 {
    position:relative;
    background-color: rgb(255, 176, 189);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: .3s all;
}
.container-3 {
    position: relative;
    background-color: rgb(255, 144, 162);
    display: none;
    transition: .3s all;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.click-1{
    top: 55vh;
}
.click-2{
    display: none;
    width: 240px;
    top: 20vh;
    left: 0;
}
.click-3{
    display: none;
    width: 240px;
    top: 80vh;
    right: 10vw;
}
.click-4{
    display: none;
    width: 240px;
    top: 90vh;
    left: 0;
}
.click-5{
    display: none;
    width: 240px;
    top: 30vh;
    right: 0;
}
.yes-1{
    top: 55vh;
    left: 40vw;
}
.no-1{
    top: 55vh;
    right: 40vw;
}
.yes-2{
    top: 55vh;
    left: 40vw;
}
.no-2{
    top: 55vh;
    right: 35vw;
}
.alternative-1{
    display: none;
    width: 240px;
    top: 20vh;
    left: 0;
}
.alternative-2{
    display: none;
    width: 240px;
    top: 20vh;
    right: 0;
}
.alternative-3{
    display: none;
    width: 240px;
    top: 80vh;
    left: 0;
}
.alternative-4{
    display: none;
    width: 240px;
    top: 70vh;
    right: 0;
}
.alternative-5{
    display: none;
    width: 240px;
    top: 20vh;
    left: 0;
}
.alternative-6{
    display: none;
    width: 245px;
    top: 0vh;
    right: 50vw;
}
p{
    font-size: 24px;
}
button{
    position: absolute;
    font-size: 24px;
    padding: 2px 5px;
    width: 120px;
    border-radius: 5px;
    margin:20px 5px;
}
button:hover{
    background-color: aqua;
    cursor: pointer;

}
.love{
    color: red;
    font-size: 300px;
    align-self: center;
    animation: beat 1.5s linear infinite;
}
@keyframes beat {
    0%{
        scale: 1.05;
    }        
    50%{
        scale: 1;
    }        
    100%{
        scale: 1.05;
    }        
}

@media (max-width:600px) {
    .yes-1{
        top: 55vh;
        left: 10vw;
    }
    .no-1{
        top: 55vh;
        right: 10vw;
    }
    .yes-2{
        top: 55vh;
        left: 10vw;
    }
    .no-2{
        top: 55vh;
        right: 10vw;
    }
}